* {
  margin: 0;
  padding: 0;

  @media (min-width: 0px) and (max-width: 500px) {}
}

body {
  color: #0F5D51;
  font-weight: lighter;
  justify-content: center;
  font-family: Montserrat;

  background-image: url("../image/contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.naav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav a {
  color: #361704;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  justify-content: center;
  margin-right: 20px;
}

nav ul {
  display: flex;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1px 1px;
  align-items: center;
  display: inline-block;
}

.header {
  background: #202453;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.footer {
  /* padding: 40px 20px; */
  color: #0F5D51;
  text-align: center;
  font-family: Georgia;
  display: inline-block;
}

.box {
  background-color: #d9d9d9a8;
  /* opacity: 200; */
  display: flex;
  flex-direction: row;
  margin: 10px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px 50px;
}

.box1 {
  background-color: #FAF4DE;
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-left: 10px;
  max-height: 100px;
}

input[type="text"] {
  background-color: #E2A67B;
}

input[type="email"] {
  background-color: #E2A67B;
}

input[type="number"] {
  background-color: #E2A67B;
}