* {
  margin: 0;
  padding: 0;

  @media (min-width: 0px) and (max-width: 500px) {}
}

body {
  color: #fff;
  font-weight: lighter;
  justify-content: center;

  background-image: url("../image/department.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.naav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav a {
  color: #361704;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  justify-content: center;
  margin-right: 20px;
}

nav ul {
  display: flex;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1px 1px;
  align-items: center;
  display: inline-block;
}

.navtext {
  color: #222;
  height: auto;
  flex: row;
}

.header {
  background: #202453;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  margin: 0px;
}

/* .overlaytext{
    position: absolute;
}  */
.footer {
  /* padding: 40px 20px; */
  color: #fff;
  text-align: center;
  font-family: inter, ;
  display: inline-block;
}

.box {
  /* border:solid, #222; */
  background-color: #477599;
  display: flex;
  flex-direction: row;
  margin: 1px;
}

.container {
  display: flex;
  justify-content: center;
  /* horizontal center */
  align-items: center;
  /* vertical center */
  gap: 40px;
}

.align {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px;
  font-family: inter, ;
  align-items: center;
  flex: 0 0 45%;
}